<h2>TODO APP</h2>
<!-- 
  directives ngIf ngClass 
  * for the structural directives (adding or removing elements)
  ngClass change some properties of elements no change in flow of the dom
-->

<label for="todo">Todo</label>
<br/>
<input 
  placeholder="{{placeholder}}" 
  type="text"
  id="todo" 
  name="todo" 
  required 
  minlength="3" 
  size="20"
  [ngClass]="{active: todo !== ''}"
  [(ngModel)]="todo"
>
<button [disabled]="disableAdd()" (click)="onAdd()">Add</button>
<h4>Todos</h4>
<p *ngIf="!shouldRenderTodos()">You have nothing todo</p>
<ul *ngIf="shouldRenderTodos()">
  <li 
    *ngFor="let todo of todos" [id]="todo.id">
    {{todo.title}}
    <button (click)="onDelete(todo.id)">X</button>
  </li>
</ul>